@import url("https://fonds.googleapis.com/css?family=Montserrat:400,");

*{
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	background-image: url("LOVI.png");
	background-size:contain;
	background-attachment:fixed;
	background-repeat: repeat-y;
}
#main{
	width: 100%;
	padding: 20px;
	text-align: center;
}
h1 {
	margin-top: 50px;
	margin-bottom: 10px;
}
img{
	width: 200px;
	margin: 30px auto;
}

p{
	width: 100%;
	margin: 20px auto;
}
button{
	border: 1px solid;
	border-radius: 5px;
	margin-top: 50px;
	height: 60px;
	width: 200px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: all 500ms ease;
	color: var(--tg-theme-button-color);
	background: var(--tg-theme-button-text-color);
}
button:hover {
	background: var(--tg-theme-secondary-bg-color);
}

#form{
	display: none;
	width: 100%;
	padding: 20px;

}
form{
	display: grid;
	width: 100%;
	margin: auto;

}

input{
	border: 1px solid;
	border-radius: 5px;
	margin-top: 10px;
	height: 50px;
	width: 250px;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
}
#counter{
	display:flex;
	font-size: 30px;
	width: 120px;
	align-items: center;
	
}

#minus{
	width: 50px;
}
